{% extends 'base.html' %}

{% block head %}
<title>Registre-se</title>
{% endblock %}

{% block body %}
<div class="content">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class="flashes">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  <h1>Registre-se</h1>
  <div class="form">
    <form action="" method="POST">
      {{ form.hidden_tag() }}
      {{ form.username }}
      {{ form.password }}
      {{ form.submit }}
    </form>
  </div>
  <br>
  <a href="/login">Ja tem uma conta? Login!</a>
</div>
{% endblock %}
